_metadata:
  major_version: 1
display_information:
  name: InsightHub ChatOps
features:
  bot_user:
    display_name: InsightHub
    always_online: false
oauth_config:
  scopes:
    bot:
      - app_mentions:read
      - chat:write
settings:
  event_subscriptions:
    request_url: https://reason-humility-canal.ngrok-free.dev/slack/events
    bot_events:
      - app_mention
  interactivity:
    is_enabled: false
  org_deploy_enabled: false
  socket_mode_enabled: false
  is_hosted: false
  token_rotation_enabled: false
